{% extends 'base01.html' %}


{% block title %}

{% endblock %}



{% block todo %}
	<!-- contents -->
	<div id="contents">
		<h3 class="ceo_line">CEO 인사말</h3>
		<div class="greeting">
			<strong>안녕하세요!.</strong>
			한국펀드서비스(주)는 금융위원회에 일반사무관리회사 등록을 마치고 최고의
펀드서비스회사가 되도록 최선을 다하고 있습니다.
			<br/><br/>
			 2000년에 설립되어 금융서비스전문회사로서 일반사무관리 업무솔루션(ICAM),
경영지원시스템, 자산운용 정보통합관리시스템, 기금관리시스템, 신탁 및
수탁시스템 등 금융업무 서비스, 컨설팅 및 개발을 위해 고객과 함께해
왔습니다.
			 <br/><br/>
			 특히, 다양화 및 전문화되고 있는 투자일임자문사와 자산운용회사를 위해
고객자산평가의 신뢰성 확보와 자산운용성과 지원을 위한 맞춤형
일반사무관리업무시스템(ICAM)을 구축하여 운영 중입니다.
			 <br/><br/>
한국펀드서비스(주)는 고객과 함께 동반성장하는 파트너가 되어 고객의 선택이
자랑이 되는 회사가 되겠습니다!
<br/><br/>
			그 동안 보여주신 관심과 배려에 감사드리며, 앞으로도 많은 성원을 부탁드립니다.
			 <br/>
<p>
			<!-- em>감사합니다.</em-->
			<p class="name">한국펀드서비스㈜의 대표이사 박동진</p>
			<div class="ceo">
				<div class="photo"><img src="assets/images/company/ceo.jpg" alt="한국펀드소프트(주)-대표이사  박동진" /></div>
				<p class="tit">학력 및 자격사항</p>
				<p class="txt">
					CISA, ISO9001 책임심사원<br/>
					전문투자형 운용전문인력<br/>
					홍익대학교 이학석사
				</p>
				<p class="tit">주요이력</p>
				<p class="txt">
					現) 한국펀드서비스(주) 대표이사<br/>
					前) 한국채권투자자문 전략본부장<br/>
					前) 신한BNP자산운용 운용지원 본부장<br/>
					 前) 펀드넷 및 정보화 허브 자문위원<br/>
					前) 대한투자신탁(주)
				</p>
			</div>
		</div>
	</div>	<!-- // contents -->
{% endblock %}