{% extends 'base01.html' %}


{% block todo %}
	<!-- contents -->
	<div id="contents">
		<h3>회사개요</h3>
		<table class="tbl1">
			<colgroup>
				<col style="width:26%;" />
				<col style="" />
			</colgroup>
			<tr>
				<th>회사명</th>
				<td><strong>한국펀드서비스(주)</strong></td>
			</tr>
			<tr class="bg">
				<th>설립일</th>
				<td>2000년 03월 20일</td>
			</tr>
			<tr>
				<th>납입자본금</th>
				<td>30억원</td>
			</tr>
			<!-- tr class="bg">
				<th>자기자본</th>
				<td>1</td>
			</tr>
			<tr>
				<th>계약자산규모</th>
				<td>
					1
				</td>
			</tr-->
			<!--tr class="bg">
				<th>인력</th>
				<td>1</td>
			</tr-->
			<tr>
				<th>주요업무</th>
				<td>일반사무관리업무(금융위등록 제2018-112호)</td>
			</tr>
			<tr class="bg">
				<th>대표이사</th>
				<td>박동진</td>
			</tr>
			<tr>
				<th>주주구성</th>
				<td>금융전문가(50%), IT전문가(40%), 일반사무전문가(10%)</td>
			</tr>
			<tr class="bg">
				<th>주소</th>
				<td>서울시 영등포구 의사당대로 143 금융투자협회빌딩 5층</td>
			</tr>
		</table>
	</div>
	<!-- // contents -->

{% endblock %}