<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>회사연혁</title>

<style>

	#top_month {
	font-size:0.9em;
	color: Blue;
    border-top:1px solid Gray ;
		}	
	#top_year {
	font-size:0.9em;
	color: DeepSkyBlue;
    border-top:1px solid Gray ;
		}
	#top_content {
	font-size:0.8em;
    border-top:1px solid Gray ;
		}
		

</style>
 </head>
 <body>
  <div id="hello1">
<h1></h1>
  </div>
<table  width="700" height="600" >
                <colgroup>
                    <col width="170">
                    <col width="60">
                    <col width="*">
                <colgroup>
				<tbody>
	    			      <tr>
                               <td id="top_year" rowspan="3"><span>2000</span></td>
	                           <td id="top_month"><span>03</span></td>
                               <td id="top_content"><span>(주)펀드소프트설립</span></td>
						  </tr>					
						
	                      <tr>
	                           <td id="top_month"><span>07</span></td>
	                           <td id="top_content"><span>FAS (Fund Accounting System)개발완료
<br/>PMS (Portfolio Management System)개발완료 </span></td>
	                      </tr>
	         			  <tr>
	                            <td id="top_month"><span>10</span></td>
	                            <td id="top_content"><span>프로그램 등록(FAS, PMS) - 한국소프트웨어진흥원 </span></td>
	                      </tr>
	         			
						  <tr>
		                        <td id="top_year" rowspan="3"><span>2002</span></td>
		                        <td id="top_month"><span>04</span></td>
		                        <td id="top_content"><span>기술연구소 설립 </span></td>
						  </tr>					
	                      <tr>
	                            <td id="top_month"><span>05</span></td>
	                            <td id="top_content"><span>자산운용시스템 업그레이드
<br/>FAS → FAMS (Fund Asset Management System)</span></td>
	                        </tr>
	         			
	                        <tr>
	                            <td id="top_month"><span>08</span></td>
	                            <td id="top_content"><span>프로그램 등록(FAMS) – 한국소프트웨어진흥원 </span></td>
	                        </tr>
	         			
							<tr>
		                         <td id="top_year" rowspan="1"><span>2009</span></td>
		                         <td id="top_month"><span>08</span></td>
		                         <td id="top_content"><span>경영혁신 중소기업(Main Biz.) 인증</span></td>
							</tr>					
							<tr>
		                         <td id="top_year" rowspan="3"><span>2017</span></td>
		                         <td id="top_month"><span>03</span></td>
		                         <td id="top_content"><span>ICAM 솔루션 구축 완료 
<br/>정보보호시스템 누리아이티 파트너사 계약
<br/></span></td>
							</tr>					
						<tr>
	                            <td id="top_month"><span>07</span></td>
	                            <td id="top_content"><span>투자일임 / 자문업무 금융서비스 시행</span></td>
	                        </tr>
	         				<tr>
	                            <td id="top_month"><span>09</span></td>
	                            <td id="top_content"><span>자본금 28억 원 증액 (총 30억 원) </span></td>
	                        </tr>
							<tr>
		                            <td id="top_year" rowspan="1"><span>2018</span></td>
		                            <td id="top_month"><span>04</span></td>
		                            <td id="top_content"><span>티맥스 티베로DB 파트너사 계약 
<br/>일반사무관리업무 등록(제2018-112호) 
<br/>전문사모자산운용 업무 개시 / 상호변경
<br/></span></td>
							</tr>								
				</tbody>
			</table>
			</body>
</html>
