{% extends 'base.html' %}


{% block content %}
<!-- main -->
	<div id="main">
		<div class="visual">
			 <div class="img1" style="overflow: hidden;height: 378px;">
			 <img src="/static/polls/images/background.gif" style="height: 378px;">
			 <!--<img src="assets/images/main/visual2.png" style="height: 378px;">	-->
			 </div>
		<div class="visual_bar"><span></span></div>
		<div class="wrap">
			<h2>업무현황
				<span class="h2_today"></span>
			</h2>
			<ul class="status">
				<li class="bg1">
					<div class="icon">
						<a href="/company1.do"><img src="assets/images/main/status_icon1.png" alt="한국펀드서비스" /></a>
					</div>
					<p class="name">
						<strong>한국펀드서비스</strong>
						고객 성장이 당사의<br /> 성장입니다
					</p>
				</li>
				<li class="bg2">
					<div class="icon">
						<a href="/business1.do"><img src="assets/images/main/status_icon2.png" alt="비지니스" /></a>
						비지니스
					</div>
					<p class="name">
						<strong>비지니스</strong>
						회사별 상품 및 정책에 맞는<br /> 서비스를 제공합니다
					</p>
				</li>
				<li class="bg3">
					<div class="icon">
						<a href="/product1.do"><img src="assets/images/main/status_icon3.png" alt="솔루션" /></a>
					</div>
					<p class="name">
						<strong>솔루션</strong>
						 고객 전문성에 맞는<br/> 솔루션입니다
					</p>
				</li>
			</ul>
			<ul class="board">
				<li class="first">
					<h2>
						공지사항 <a href="news1.do" class="more"><img
							src="assets/images/main/more.jpg" alt="더보기" /></a>
					</h2>
					<ul>

							<li><a
								href="news1_view.do?num=4&id=notice">




										신탁회계 및 IT 부분 채용 공고


								</a>
								<em>2018.08.22</em></li>

							<li><a
								href="news1_view.do?num=3&id=notice">




										티맥스소프트(주)와 업무파트너(ISV)협약 체결


								</a>
								<em>2018.04.26</em></li>

							<li><a
								href="news1_view.do?num=2&id=notice">




										(주)펀드소프트에서 한국펀드서비스(주)로 회사명 변경


								</a>
								<em>2018.04.25</em></li>

					</ul>
				</li>
				<li>
					<h2>
						NEWS <a href="news3.do" class="more"><img
							src="assets/images/main/more.jpg" alt="더보기" /></a>
					</h2>
					<ul>

							<li><a
								href="news1_view.do?num=8&id=release">



										[연합뉴스] 코스콤, 중소 기관투자자 위한 주식 주문 ....



								</a>
								<em>2019.05.14</em></li>

							<li><a
								href="news1_view.do?num=7&id=release">



										[IT DAILY] 에이치투오시스템, 코스콤과 공동으 ....



								</a>
								<em>2019.04.17</em></li>

							<li><a
								href="news1_view.do?num=6&id=release">



										[서울경제] 한국펀드서비스, 한 펀드에 다른 수익 시 ....



								</a>
								<em>2019.04.11</em></li>


					</ul>
				</li>
			</ul>
		</div>

	</div>
	</div>
	<!-- // main -->
{% endblock %}